@mixin bg($url, $props: no-repeat 0 0)
{
    background: url(#{$urlImages}/#{$url}) $props;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


@mixin breakpoint($point){

  @if ($point == xl){
    @media (min-width: 1900px){ @content }
  }  
  
  @else if ($point == lg){
    @media (min-width: 1200px){ @content }
  }
  @else if ($point == md){
    @media (min-width: 992px) { @content }
  }
  
  @else if ($point == sm){
    @media (min-width: 768px){ @content }
  }

  @else if ($point == xs){
    @media (max-width: 576px){ @content }
  }

  @else if ($point == xxs){
    @media  (max-width: 480px){ @content }
  }
}

