<div [formGroup]="addressForm">
  <div class="row">
    <div class="col-md-3">
      <mat-form-field class="form-field">
        <input matInput type="phone" placeholder="CEP" formControlName="cep" mask='00000-000' dropSpecialCharacters="false" />
        <mat-error *ngIf="formControls.cep.errors || formControls.logradouro.errors">
          <span *ngIf="formControls.cep.errors?.required">Informe seu CEP</span>
          <span *ngIf="formControls.cep.errors?.minlength">Informe o CEP completo</span>
        </mat-error>
        <mat-hint *ngIf="!validForRequisition && showButton">
            CEP inválido
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-9" *ngIf="showButton && !validCep">
      <button type="button" (click)="doSearch()">
        <i class="fa fa-search"></i> BUSCAR CEP</button>
    </div>
  </div>

  <ng-container *ngIf="validCep">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-9">
            <mat-form-field class="form-field disabled-field">
              <input matInput type="text" placeholder="Logradouro" maxlength="200" formControlName="logradouro" />
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="form-field">
              <input matInput type="phone" placeholder="Nº" maxlength="10" formControlName="numero" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Complemento" maxlength="100" formControlName="complemento" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <mat-form-field class="form-field disabled-field">
          <input matInput type="text" placeholder="Bairro" maxlength="100" formControlName="bairro" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="form-field disabled-field">
          <input matInput type="text" placeholder="Localidade" maxlength="100" formControlName="localidade" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="form-field disabled-field">
          <input matInput disabled type="text" placeholder="UF" maxlength="2" formControlName="uf" />
        </mat-form-field>
      </div>
    </div>
  </ng-container>
</div>
