<section id="home" class="container">
  <h1>Teste de Front-End</h1>
  <p>Bem vindo ao meu teste de Front-End!</p>
  <p>Esta aplicação se trata de uma simulação de um sistema de consulta e cadastro de clientes.</p>
  <p>Por favor, utilize uma das tarefas abaixo:</p>
  <div class="row mainTasks">
    <div class="col-sm">
      <a routerLink="/busca" class="mainTasks--item">
        <i class="fa fa-search mainTasks--item-ico"></i>
        Buscar clientes
      </a>
    </div>
    <div class="col-sm">
      <a routerLink="/cliente" class="mainTasks--item">
        <i class="fa fa-user mainTasks--item-ico"></i>
        Cadastrar novo cliente
      </a>
    </div>
  </div>
</section>