@import 'variables';
@import 'mixins';

#home {
    .mainTasks {
        &--item {display: block; margin-top: 40px; background: $green; color: white; font-size: 20px; text-align: center; padding: 20px; border-radius: 20px;
            &:hover {text-decoration: none; background: darken($green, 5%); transform: scale(1.05);}
            &-ico {font-size: 80px; display: block; margin-bottom: 15px;}
        }
        @include breakpoint(md) {
            &--item {height: 100%; margin: 0;}
        }
    }
}