<section class="container">

  <h1 [innerHTML]="title"></h1>

  <form novalidate (submit)="doSearch()" [formGroup]="form">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Nome" formControlName="name" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="form-field">
          <input matInput type="email" placeholder="E-mail" formControlName="email" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <span formGroupName="address">
          <mat-form-field class="form-field">
            <input matInput type="phone" placeholder="CEP" formControlName="cep" mask='00000-000' dropSpecialCharacters="false" />
          </mat-form-field>
        </span>
      </div>
      <div class="col-md-2">
        <button type="submit" class="appButton">
          <i class="fa fa-search"></i> BUSCAR</button>
      </div>
    </div>
  </form>

  <hr />

  <p *ngIf="!results?.length; else searchResults">Nenhum resultado encontrado.</p>

  <ng-template #searchResults>
    <p>Exibindo {{results.length}} cliente{{results.length > 1 ? 's' : ''}}.</p>

    <div class="table-wrapper">
      <table width="100%" cellpadding="0" cellspacing="0" class="resultTable">
        <tbody>
          <tr>
            <th width="23%">Nome</th>
            <th width="22%">E-mail</th>
            <th width="14%">CEP</th>
            <th width="16%">Telefone</th>
            <th width="9%" class="text-center">Ativo</th>
            <th width="16%" class="text-center">Ações</th>
          </tr>
          <tr *ngFor="let result of results">
            <td>
              <a [routerLink]="['/', routingSegments.data, result.id]">{{result.name}}</a>
            </td>
            <td>{{result.email}}</td>
            <td>{{result.address.cep}}</td>
            <td>{{result.phone}}</td>
            <td class="text-center">
              <i [class]="'fa fa-' + (result.active ? 'check resultTable--ico' : 'times resultTable--ico')"></i>
            </td>
            <td class="text-center">
              <a [routerLink]="['/', routingSegments.data, result.id]" title="visualizar">
                <i class="fa fa-eye resultTable--ico"></i>
              </a>
              <a [routerLink]="'/' + routingSegments.register" [queryParams]="{id: result.id}" title="editar">
                <i class="fa fa-edit resultTable--ico"></i>
              </a>
              <a [routerLink]="null" (click)="delete(result.id)" title="deletar">
                <i class="fa fa-trash resultTable--ico"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-template>
  <br />
  <div class="text-right">
    <a [routerLink]="'/' + routingSegments.register" class="app-button">
      <i class="fa fa-plus"></i> CADASTRAR CLIENTE</a>
  </div>

</section>
