<app-client-not-found *ngIf="notFound; else content"></app-client-not-found>

<ng-template #content>
  <section id="client" class="container">
    <h1 [innerHTML]="title"></h1>

    <div class="messages">
      <div class="messages--error" *ngIf="validation?.length">
        <h3>Cadastro incorreto!</h3>
        <p>Por favor, siga as instruções abaixo e tente novamente.</p>
        <ul>
          <li *ngFor="let error of validation">{{error}}</li>
        </ul>
      </div>
      <div class="messages--error" *ngIf="requestError">
        <h3>Algo deu errado.</h3>
        <p>Ocorreu um erro durante a requisição.</p>
        <p>Por favor, tente novamente mais tarde.</p>
        <p>Detalhes:</p>

        {{requestError}}
      </div>
    </div>

    <form novalidate *ngIf="client" (submit)="submit()">
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" name="name" maxlength="200" [(ngModel)]="client.name" />
        </div>
        <div class="form-group col-sm-4">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" maxlength="200" [(ngModel)]="client.email" />
        </div>
        <div class="form-group col-sm-4">
          <label for="phone">Telefone</label>
          <input type="phone" class="form-control" id="phone" name="phone" [(ngModel)]="client.phone" mask="(00) 000000000" dropSpecialCharacters="false" />
        </div>
      </div>

      {{client | json}}

      <app-zip-search [address]="client.address" [newClient]="newClient" (emitAddress)="addAddress($event)"></app-zip-search>
      
      <ng-container *ngIf="!newClient">
        <label><input type="checkbox" name="active" [(ngModel)]="client.active" /> Ativo</label>
      </ng-container>

      <br/><br/>
      <div class="text-right">
        <button *ngIf="!newClient" type="button" (click)="delete()">DELETAR</button>
        <button type="submit">{{newClient ? 'CADASTRAR' : 'ATUALIZAR'}}</button>
      </div>
    </form>

  </section>
</ng-template>