<app-client-not-found *ngIf="notFound; else content"></app-client-not-found>

<ng-template #content>
  <section id="client" class="container">
    <h1 [innerHTML]="title"></h1>

    <!--
    <div class="messages">
      <div class="messages--error" *ngIf="validation?.length">
        <h3>Cadastro incorreto!</h3>
        <p>Por favor, siga as instruções abaixo e tente novamente.</p>
        <ul>
          <li *ngFor="let error of validation">{{error}}</li>
        </ul>
      </div>
      <div class="messages--error" *ngIf="requestError">
        <h3>Algo deu errado.</h3>
        <p>Ocorreu um erro durante a requisição.</p>
        <p>Por favor, tente novamente mais tarde.</p>
        <p>Detalhes:</p>


      </div>
    </div>
    -->

    <form novalidate *ngIf="form" (submit)="submit()" [formGroup]="form">
      <div class="row">
        <div class="col-md-5">
          <input matInput type="text" placeholder="Nome" maxlength="200" formControlName="name" [pattern]="namePattern" />
          <span *ngIf="submitted && (formControls.name.errors?.required || formControls.name.errors?.pattern)" class="validation-label">
            <span>Informe seu nome e sobrenome iniciados com maiúsculas.</span>
          </span>
        </div>
        <div class="col-md-4">
          <input type="email" placeholder="E-mail" maxlength="200" formControlName="email" />
          <span *ngIf="submitted && formControls.email.errors" class="validation-label">
            <span *ngIf="formControls.email.errors.required">Informe seu endereço de e-mail.</span>
            <span *ngIf="formControls.email.errors?.email">Informe um endereço de e-mail válido.</span>
          </span>
        </div>
        <div class="col-md-3">
          <input type="phone" placeholder="Telefone" formControlName="phone" mask="(00) 000000000" dropSpecialCharacters="false" />
          <span *ngIf="submitted && formControls.phone.errors" class="validation-label">
            <span *ngIf="formControls.phone.errors?.required">Informe seu número de telefone.</span>
            <span *ngIf="formControls.phone.errors?.minlength">Seu número de telefone deve conter pelo menos DDD + 8 dígitos.</span>
          </span>
        </div>
      </div>

      <app-zip-search *ngIf="addressForm" [submitted]="submitted" [formControls]="addressFormControls" [addressForm]="addressForm"
        [newClient]="newClient" (validCepEmit)="setValidCep($event)"></app-zip-search>

      <ng-container *ngIf="!newClient">
        <label><input type="checkbox" formControlName="active" /> Ativo</label>
      </ng-container>

      <br/><br/>
      <div class="text-right">
        <button *ngIf="!newClient" type="button" (click)="delete()"><i class="fa fa-trash"></i> DELETAR</button>
        <button type="submit"><i class="fa fa-edit"></i> {{newClient ? 'CADASTRAR' : 'ATUALIZAR'}}</button>
      </div>
    </form>

  </section>
</ng-template>